body{
    width: 1887px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#Navbar .container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-bottom: 1px;
    height: 72px;
    width: 1170px;
    align-items: center;
    border-bottom-style: inset;
    
    
}
    
#Navbar{
    align-items: center;
    margin: auto;

    
    

}
    

.Navlinks .links a{
    font-size:  17px;
    font-family: Roboto;
    margin-left:25px;
    margin-right: 25px;
    text-decoration: none;
}
    

.fad{
    margin-top: 5px;
    font-size: 17px;
}

.btn{
    margin-left: 25px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: #ff6803;
    width: 139px;
    height: 42px;
    font-weight: bold;
}

#Slider{
    margin-top: 270px;
    display:flex;
    justify-content: space-between;
    
}

.Header p{
    margin-top: 34px;
    font-size: 18px;
    font-family: Roboto;
}


#Slider .Discription p{
    font-size: 60px;
    font-family: Poppins;
    font-weight: bold;
    
}
.Parent{
    position: relative;
    top: 0;
    left: 0;
}

.First-img{
    position: ;
    left: 0;
    top: 0;
    margin-top: -50px;
}

.Second-img{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-right: 74px;
}

.Slider-Images{
    margin-top: 20px;
    margin-right: 100px ;
    justify-content: space-between;
    align-items: center;
    

}

#Slider .container .Header{
    margin-left: 220px;
    margin-top: 235px;
}

#Slider .container .Slider-images SI-1{
margin: auto;
border: black;
}

.Header .btn{
    width: 250px;
    height: 60px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    background-color: #f55d67;
    color:#Ffff;

}