.container{
    display: flex;
    justify-content: space-between;
}

#Navbar{
    margin-top: 55px;
    margin-bottom: 44px;
}

.Navlinks .links a{
    font-size:  17px;
    font-family: Roboto;
    margin-left:25px;
    margin-right: 25px;
    text-decoration: none;
}

.fad{
    margin-top: 5px;
    font-size: 17px;
}

.btn{
    margin-left: 25px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: #ff6803;
    width: 139px;
    height: 42px;
    font-weight: bold;
}