#Navbar .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    margin-top: 45px;
    border: solid 1px;
    
    
    
}
    
#Navbar{
    width: 1170px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    
    

}
    

.Navlinks .links a{
    font-size:  17px;
    font-family: Roboto;
    margin-left:25px;
    margin-right: 25px;
    text-decoration: none;
}
    

.fad{
    margin-top: 5px;
    font-size: 17px;
}

.btn{
    margin-left: 25px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: #ff6803;
    width: 139px;
    height: 42px;
    font-weight: bold;
}

#Slider{
    margin-top: 270px;
    display:flex;
    justify-content: space-between;
}

.Header p{
    margin-top: 34px;
    font-size: 18px;
    font-family: Roboto;
}

#Slider .Discription p{
    font-size: 60px;
    font-family: Poppins;
    font-weight: bold;
}
.Parent{
    position: relative;
    top: 0;
    left: 0;
}

.First-img{
    position: relative;
    left: 0;
    top: 0;
}

.Second-img{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 205px;
}

.Slider-images{
    margin-top: 0px;
    margin-left: ;
}